

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
header{
    font-family: 'Passion One', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    padding-top: 40px;
    font-variant: small-caps;
    font-size: 3.5vw;
}

header > p{
    padding-bottom: 40px;
}
section{
    font-family: 'Sriracha', cursive;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

p{
    padding-bottom: 2em;
}

.img1 > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.645);
    display: inline-block;
    padding: 10px;
}
.img2 > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.842);
    display: inline-block;
    text-shadow: 1px 1px 0px black;
    padding: 10px;
}
.img1{
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    background-image: url('../imagens/background001.jpg');
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.579);

    
}
.img2{
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    background-image: url('../imagens/background002.jpg');
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.579);
}
a:hover{
    text-decoration: underline;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}